@import 'normalize.css';

* {
    background-color: black;
    color: white;
    font-size: 100%;
}

.wrapper {
    text-align: center;
    font-size: 3rem;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.project_wrapper {
    text-align: center;
}

.project_title {
    text-align: center;
}

.project_content {
    width: 40%;
    align-content: center;
    text-align: center;

}


ul li {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    list-style: none;

}

ul {
    padding: 0;
    margin: 2em 0;
}

a:visited {
    color: white;
}

a:link {
    color: white;
    text-decoration: none;
}
